<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlarmClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AlarmClock.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>620</value>
            </setting>
			<setting name="WindowLeft" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WindowTop" serializeAs="String">
				<value>0</value>
			</setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
			<setting name="AutoCheckForUpdates" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="StartWithWindows" serializeAs="String">
				<value>True</value>
			</setting>
        </AlarmClock.Properties.Settings>
    </userSettings>
</configuration>